# put this file to ~/.local/share/applications/
# update the Exec and Icon to the appropriate location
[Desktop Entry]
Version=1.0
Type=Application
Name=KafkaTool
Exec=/opt/KafkaTool/bundle/kafka_tool
Icon=/opt/KafkaTool/bundle/icons/kafka.png
Comment=kafka tool
Categories=Development
Terminal=false
StartupNotify=true
